.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.header_icon{
    object-fit: contain;
    height:100px;
    margin-left:20px;
}

.header_center{
    display:flex;
    flex:1; 
    align-items: center;
    max-width: fit-content;
    border: solid #d3d3d3;
    border-radius: 999px;
    padding:1vw;
}

.header_center > input{
    border:none;
    width: 250px;
    outline-width:0;
    /* height: vw; */
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:15vw;
    margin-right:80px;
}